In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

In [19]:
df = pd.read_csv('../DataSets/weatherAUS.csv')
X = pd.read_csv('../DataSets/weatherAUS.csv')
X.pop('Date')
Y = X.pop('RainTomorrow')
Y = pd.DataFrame(Y)
X

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No

In [20]:
import helper as hp
preprocessor = preProcessing(X)

In [21]:
raintom_vals = {'No': 0, 'Yes': 1}
df['RainTomorrow'] = df.RainTomorrow.map(raintom_vals)

In [22]:
numeric_cols = preprocessor.dtype_select(np.number)
numeric_cols

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm']

In [23]:
cat_cols = preprocessor.dtype_select('object')
cat_cols

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [24]:
X[cat_cols].fillna("Unknown")
X[cat_cols].head(20)

   Location WindGustDir WindDir9am WindDir3pm RainToday
0    Albury           W          W        WNW        No
1    Albury         WNW        NNW        WSW        No
2    Albury         WSW          W        WSW        No
3    Albury          NE         SE          E        No
4    Albury           W        ENE         NW        No
5    Albury         WNW          W          W        No
6    Albury           W         SW          W        No
7    Albury           W        SSE          W        No
8    Albury         NNW         SE         NW        No
9    Albury           W          S        SSE       Yes
10   Albury           N        SSE        ESE        No
11   Albury         NNE         NE        ENE       Yes
12   Albury           W        NNW        NNW       Yes
13   Albury          SW          W        SSW       Yes
14   Albury         NaN          S        WNW        No
15   Albury         WNW        NaN        WNW       NaN
16   Albury         ENE        SSW          E        No
17   Albury           W          N        WNW       Yes
18   Albury         SSE        WSW         SW       Yes
19   Albury         SSE         SE        NNW        No

In [25]:
X[numeric_cols] = preprocessor.impute(numeric_cols=numeric_cols)
X[numeric_cols]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,13.4,22.900000,0.6,5.468232,7.611178,44.00000,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8
1,7.4,25.100000,0.0,5.468232,7.611178,44.00000,4.0,22.0,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3
2,12.9,25.700000,0.0,5.468232,7.611178,46.00000,19.0,26.0,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2
3,9.2,28.000000,0.0,5.468232,7.611178,24.00000,11.0,9.0,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5
4,17.5,32.300000,1.0,5.468232,7.611178,41.00000,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4
145456,3.6,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5
145457,5.4,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1
145458,7.8,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0
145459,14.9,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9

In [26]:
X[numeric_cols] = preprocessor.minMax(numeric_cols=numeric_cols)
X[numeric_cols].describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000
mean,0.488067,0.529704,0.006364,0.037712,0.524909,0.263839,0.108026,0.214513,0.688808,0.515391,0.614049,0.610494,0.494162,0.501103,0.510351,0.519835
std,0.150136,0.133991,0.022594,0.021804,0.188240,0.101692,0.068162,0.100191,0.188548,0.204712,0.111214,0.106624,0.251734,0.232550,0.136060,0.131479
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.382075,0.431002,0.000000,0.027586,0.524909,0.193798,0.053846,0.149425,0.570000,0.370000,0.545455,0.544000,0.333333,0.444444,0.411392,0.424184
50%,0.485849,0.519849,0.000000,0.037712,0.524909,0.255814,0.100000,0.214513,0.690000,0.515391,0.614049,0.610494,0.494162,0.501103,0.506329,0.514395
75%,0.596698,0.623819,0.002695,0.037712,0.600000,0.310078,0.146154,0.275862,0.830000,0.650000,0.682645,0.676800,0.666667,0.666667,0.605485,0.606526
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
X

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,Albury,0.516509,0.523629,0.001617,0.037712,0.524909,W,0.294574,W,WNW,...,0.275862,0.71,0.22,0.449587,0.4800,0.888889,0.501103,0.508439,0.522073,No
1,Albury,0.375000,0.565217,0.000000,0.037712,0.524909,WNW,0.294574,NNW,WSW,...,0.252874,0.44,0.25,0.497521,0.4912,0.494162,0.501103,0.514768,0.570058,No
2,Albury,0.504717,0.576560,0.000000,0.037712,0.524909,WSW,0.310078,W,WSW,...,0.298851,0.38,0.30,0.447934,0.5056,0.494162,0.222222,0.594937,0.548944,No
3,Albury,0.417453,0.620038,0.000000,0.037712,0.524909,NE,0.139535,SE,E,...,0.103448,0.45,0.16,0.613223,0.5712,0.494162,0.501103,0.533755,0.612284,No
4,Albury,0.613208,0.701323,0.002695,0.037712,0.524909,W,0.271318,ENE,NW,...,0.229885,0.82,0.33,0.500826,0.4624,0.777778,0.888889,0.527426,0.673704,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,0.266509,0.533081,0.000000,0.037712,0.524909,E,0.193798,SE,ENE,...,0.126437,0.51,0.24,0.728926,0.6912,0.494162,0.501103,0.364979,0.533589,No
145456,Uluru,0.285377,0.568998,0.000000,0.037712,0.524909,NNW,0.124031,SE,N,...,0.103448,0.56,0.21,0.710744,0.6720,0.494162,0.501103,0.381857,0.573896,No
145457,Uluru,0.327830,0.599244,0.000000,0.037712,0.524909,N,0.240310,SE,WNW,...,0.103448,0.53,0.24,0.669421,0.6352,0.494162,0.501103,0.415612,0.604607,No
145458,Uluru,0.384434,0.601134,0.000000,0.037712,0.524909,SE,0.170543,SSE,N,...,0.080460,0.51,0.24,0.642975,0.6304,0.333333,0.222222,0.470464,0.602687,No
145459,Uluru,0.551887,0.529704,0.000000,0.037712,0.524909,NaN,0.263839,ESE,ESE,...,0.195402,0.62,0.36,0.656198,0.6528,0.888889,0.888889,0.468354,0.504798,No

In [28]:
missing_counts = X.isna().sum().sort_values(ascending=False)
missing_counts[missing_counts > 0]

WindDir9am     10566
WindGustDir    10326
WindDir3pm      4228
RainToday       3261
dtype: int64

In [29]:
X[cat_cols] = preprocessor.one_hot(cat_cols=cat_cols)
for col in cat_cols:
    X.pop(col)

/Users/anshumantekriwal/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/var/folders/37/cr55t1yj4_q7mn_gwsg1qk640000gn/T/ipykernel_95332/787974572.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[encoded_cols] = enc.transform(self.df[cat_cols])
/var/folders/37/cr55t1yj4_q7mn_gwsg1qk640000gn/T/ipykernel_95332/787974572.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[encoded_cols] = enc.transform(self.df[cat_cols])
/var/folders/37/cr55t1yj4_q7mn_gwsg1qk640000gn/T/ipykernel_95332/787974572.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[encoded_cols] = enc.transform(self.df[cat_cols])
/var/folders/37/cr55t1yj4_q7mn_gwsg1qk640000gn/T/ipykernel_95332/787974572.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[encoded_cols] = enc.transform(self.df[cat_cols])
/var/folders/37/cr55t1yj4_q7mn_gwsg1qk640000gn/T/ipykernel_95332/787974572.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[encoded_cols] = enc.transform(self.df[cat_cols])

In [30]:
print(Y.isna().sum())
Y = Y.replace(np.nan, 'No')
Y.isna().sum()

RainTomorrow    3267
dtype: int64

RainTomorrow    0
dtype: int64

In [31]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='liblinear')
model.fit(X, Y)

/Users/anshumantekriwal/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(solver='liblinear')